.cardImg {
    width: 100%;
}

.download--wrapper {
    text-align: center;
}

.download__title {
    font-family: "Roboto", sans-serif;
}

.title {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
}
