.cardImg {
    width: 100%;
}

.download--wrapper {
    text-align: center;
    background-color: rgba(179, 176, 176, 0.616);

    padding: 1.5rem 0;
}

.download__title {
    font-family: "Roboto", sans-serif;
}

.title {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
}
