.title {
    font-family: "Lexend Deca", sans-serif;
    font-size: 5rem;
    text-align: center;
}

.cardImg {
    width: 100%;
}

.download--wrapper {
    text-align: center;
}

.download__title {
    font-family: "Roboto", sans-serif;
}
