#project__title {
    padding-bottom: 0.5rem;
    border-bottom: inset 0.5px rgba(128, 128, 128, 0.568);
}

.project__secondHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: inset 0.5px rgba(128, 128, 128, 0.568);
}

@media only screen and (min-width: 0px) {
    .project__desc {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1rem;
        .project__desc--content {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
@media only screen and (min-width: 576px) {
    .project__desc {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1rem;
        .project__desc--content {
            padding-top: 1rem;
            margin-right: 10%;
            padding-bottom: 1rem;
        }
    }
}
@media only screen and (min-width: 768px) {
    .project__desc {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1.3rem;
        padding-bottom: 1rem;
        .project__desc--content {
            padding-top: 1rem;
            margin-right: 10%;
            padding-bottom: 1.5rem;
        }
    }
}
@media only screen and (min-width: 992px) {
    .project__desc {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1.3rem;

        .project__desc--content {
            padding-top: 1rem;
            margin-right: 10%;
            padding-bottom: 1.8rem;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .project__desc {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1.3rem;

        .project__desc--content {
            padding-top: 1rem;
            margin-right: 10%;
            padding-bottom: 2rem;
        }
    }
}
