@media (min-width: 576px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 820px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 860px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 940px;
    }
}
