.footer__icon {
    cursor: pointer;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 2rem;
    &:hover {
        color: grey;
    }
}

.inherit__link {
    text-decoration: none;
    color: white;
}
.footer__spacing {
    padding-top: 1rem;
}
