@import "app";
@import "video";
@import "content";
@import "container";

@media only screen and (min-width: 0px) {
    .title {
        font-size: 1.5rem;
    }
    .download__title {
        font-size: 1rem;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .title {
        font-size: 2rem;
    }
    .download__title {
        font-size: 1rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .title {
        font-size: 3.5rem;
    }
    .download__title {
        font-size: 1.5rem;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .title {
        font-size: 5rem;
    }
    .download__title {
        font-size: 2rem;
    }
}
