@import "app";
@import "video";
@import "content";
@import "container";

@media only screen and (min-width: 0px) {
    .title {
        font-size: 1.5rem;
    }
    .download__title {
        font-size: 1rem;
    }
    .project__title {
        padding-top: 1.5rem;
        border-bottom: 1px grey;
    }
    h1 {
        font-size: 1.5rem;
        font-family: "Noto Sans TC", sans-serif;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .title {
        font-size: 2rem;
    }
    .download__title {
        font-size: 1rem;
    }
    .project__title {
        padding-top: 1.5rem;

        border-bottom: 1px grey;
        h1 {
            font-size: 1.5rem;
            padding-bottom: 0.5rem;
            font-family: "Noto Sans TC", sans-serif;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .title {
        font-size: 3.5rem;
    }
    .download__title {
        font-size: 1.5rem;
    }
    .project__title {
        padding-top: 1.5rem;

        border-bottom: 1px grey;
        h1 {
            font-size: 2rem;
            padding-bottom: 1.5rem;
            font-family: "Noto Sans TC", sans-serif;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .title {
        font-size: 5rem;
    }
    .download__title {
        font-size: 2rem;
    }
    .project__title {
        padding-top: 1.5rem;

        h1 {
            font-size: 2.5rem;
            padding-bottom: 0.5rem;
            font-family: "Noto Sans TC", sans-serif;
        }
    }
}
